<form action="/api/product" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Product Name">
    <input type="text" name="description" placeholder="Product Description">
    <input type="number" name="price" placeholder="Price">
    <input type="number" name="stock" placeholder="Stock">
    <input type="text" name="category" placeholder="category" value="Clothing">
    <input type="file" name="images" multiple> <!-- 'images' is the field name -->
    <input type="submit" value="Submit">
  </form>
